<mat-form-field class="example-full-width">
  <mat-label>Author</mat-label>
  <input
    type="text"
    placeholder="Pick one"
    aria-label="Author"
    matInput
    [formControl]="formControl"
    [matAutocomplete]="auto"
  />
  <button
    mat-icon-button
    matSuffix
    *ngIf="formControl.value"
    (click)="formControl.reset()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of filteredAuthorOptions$ | async; track option) {
    <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
