<form [formGroup]="poemForm" (ngSubmit)="handleSubmit()" class="poem-form">
  <mat-form-field class="full-width">
    <mat-label>Author</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Author"
      matInput
      formControlName="author"
      [matAutocomplete]="auto"
    />
    <button
      mat-icon-button
      matSuffix
      *ngIf="authorControl.value"
      (click)="authorControl.reset()"
      class="close-button"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="!authorControl.valid">Not an available author</mat-error>
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredAuthorOptions$ | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Poem Title</mat-label>
    <input
      type="text"
      placeholder="Select a title"
      aria-label="Poem Title"
      matInput
      formControlName="title"
      [matAutocomplete]="autoPoemTitle"
    />
    <button
      mat-icon-button
      matSuffix
      *ngIf="titleControl.value"
      (click)="titleControl.reset()"
      class="close-button"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="!titleControl.valid">
      This title is not available
      {{ authorControl.valid ? "for " + authorControl.value : "" }}
    </mat-error>
    <mat-autocomplete #autoPoemTitle="matAutocomplete">
      @for (mapEntry of filteredPoemTitleOptions$ | async | keyvalue; track
      mapEntry.key) {
      <mat-optgroup [label]="mapEntry.key">
        @for (title of mapEntry.value; track title) {
        <mat-option [value]="title">{{ title }}</mat-option>
        }
      </mat-optgroup>
      }
    </mat-autocomplete>
  </mat-form-field>

  <button
    mat-raised-button
    type="submit"
    [disabled]="!isInputValid()"
    class="submit-button"
  >
    Submit
  </button>
</form>
